## pandas
* pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

* Two important data types defined by pandas are Series and DataFrame.
* You can think of a Series as a “column” of data, such as a collection of observations on a single variable. A DataFrame is an object for storing related columns of data.

In [111]:
# importing pandas library
import pandas as pd

In [112]:
# creating a sample dictionary
sample_dict = { 'name' : ["a", "b", "c", "d", "e"],
               'age' : [42, 18, 26, 22, 23],
              'designation' :["CEO", "MD", "VP", "CEO", "CFO"]}

* There are several ways to create a DataFrame. One way way is to use a dictionary.

In [113]:
df1 = pd.DataFrame(sample_dict)

* Pandas DataFrame is a 2-D labeled data structure with columns of potentially different type.

In [114]:
df1

  name  age designation
0    a   42         CEO
1    b   18          MD
2    c   26          VP
3    d   22         CEO
4    e   23         CFO

* data can be also imported from various methods like using csv file, excel file, using SQL query, parsing html page and othe means, as well can be exported to various file types

Let's export the df1 to a csv file

In [115]:
df1.to_csv('file.csv')

In [116]:
# loading data from csv file we just saved above
df2 = pd.read_csv('file.csv')
df2

   Unnamed: 0 name  age designation
0           0    a   42         CEO
1           1    b   18          MD
2           2    c   26          VP
3           3    d   22         CEO
4           4    e   23         CFO

In [117]:
# importing a data to use
from sklearn import datasets as dset
h_data = dset.fetch_california_housing()

In [118]:
# names of predictors in dataset
print(h_data.feature_names)

['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

In [119]:
# shape of data of predictor variables
print(h_data.data.shape)

# shape of data of target variable
print(h_data.target.shape)

(20640, 8)
(20640,)

In [120]:
cal_housing = pd.DataFrame(california_housing_data.data)

In [121]:
cal_housing

            0     1         2         3       4         5      6       7
0      8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1      8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2      7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3      5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4      3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
5      4.0368  52.0  4.761658  1.103627   413.0  2.139896  37.85 -122.25
6      3.6591  52.0  4.931907  0.951362  1094.0  2.128405  37.84 -122.25
7      3.1200  52.0  4.797527  1.061824  1157.0  1.788253  37.84 -122.25
8      2.0804  42.0  4.294118  1.117647  1206.0  2.026891  37.84 -122.26
9      3.6912  52.0  4.970588  0.990196  1551.0  2.172269  37.84 -122.25
10     3.2031  52.0  5.477612  1.079602   910.0  2.263682  37.85 -122.26
11     3.2705  52.0  4.772480  1.024523  1504.0  2.049046  37.85 -122.26
12     3.0750  52.0  5.322650  1.012821  1098.0  2.346154  37.85 -122.26
13     2.6736  52.0  4.000000  1.097701   345.0  1.982759  37.84 -122.26
14     1.9167  52.0  4.262903  1.009677  1212.0  1.954839  37.85 -122.26
15     2.1250  50.0  4.242424  1.071970   697.0  2.640152  37.85 -122.26
16     2.7750  52.0  5.939577  1.048338   793.0  2.395770  37.85 -122.27
17     2.1202  52.0  4.052805  0.966997   648.0  2.138614  37.85 -122.27
18     1.9911  50.0  5.343675  1.085919   990.0  2.362768  37.84 -122.26
19     2.6033  52.0  5.465455  1.083636   690.0  2.509091  37.84 -122.27
20     1.3578  40.0  4.524096  1.108434   409.0  2.463855  37.85 -122.27
21     1.7135  42.0  4.478142  1.002732   929.0  2.538251  37.85 -122.27
22     1.7250  52.0  5.096234  1.131799  1015.0  2.123431  37.84 -122.27
23     2.1806  52.0  5.193846  1.036923   853.0  2.624615  37.84 -122.27
24     2.6000  52.0  5.270142  1.035545  1006.0  2.383886  37.84 -122.27
25     2.4038  41.0  4.495798  1.033613   317.0  2.663866  37.85 -122.28
26     2.4597  49.0  4.728033  1.020921   607.0  2.539749  37.85 -122.28
27     1.8080  52.0  4.780856  1.060453  1102.0  2.775819  37.85 -122.28
28     1.6424  50.0  4.401691  1.040169  1131.0  2.391121  37.84 -122.28
29     1.6875  52.0  4.703226  1.032258   395.0  2.548387  37.84 -122.28
...       ...   ...       ...       ...     ...       ...    ...     ...
20610  1.3631  28.0  4.851936  1.102506  1195.0  2.722096  39.10 -121.56
20611  1.2857  27.0  4.359413  1.078240  1163.0  2.843521  39.10 -121.55
20612  1.4934  26.0  5.157303  1.082397   761.0  2.850187  39.08 -121.56
20613  1.4958  31.0  4.500000  0.950521  1167.0  3.039062  39.09 -121.55
20614  2.4695  26.0  4.801688  0.970464  1455.0  3.069620  39.08 -121.54
20615  2.3598  23.0  5.461929  1.096447   724.0  3.675127  39.08 -121.54
20616  2.0469  15.0  4.826667  1.176000  1157.0  3.085333  39.08 -121.53
20617  3.3021  20.0  4.921053  0.956140   308.0  2.701754  39.06 -121.53
20618  2.2500  25.0  5.893805  1.092920   726.0  3.212389  39.06 -121.55
20619  2.7303  22.0  6.388514  1.148649  1023.0  3.456081  39.01 -121.56
20620  4.5625  40.0  4.125000  0.854167   151.0  3.145833  39.05 -121.48
20621  2.3661  37.0  7.923567  1.573248   484.0  3.082803  39.01 -121.47
20622  2.4167  20.0  4.808917  0.936306   457.0  2.910828  39.00 -121.44
20623  2.8235  32.0  5.101322  1.074890   598.0  2.634361  39.03 -121.37
20624  3.0739  16.0  5.835052  1.030928   731.0  2.512027  39.04 -121.41
20625  4.1250  37.0  7.285714  1.214286    29.0  2.071429  39.12 -121.52
20626  2.1667  36.0  6.573099  1.076023   504.0  2.947368  39.18 -121.43
20627  3.0000   5.0  6.067797  1.101695   169.0  2.864407  39.13 -121.32
20628  2.5952  19.0  5.238462  1.079487  1018.0  2.610256  39.10 -121.48
20629  2.0943  28.0  5.519802  1.020902  6912.0  3.801980  39.12 -121.39
20630  3.5673  11.0  5.932584  1.134831  1257.0  2.824719  39.29 -121.32
20631  3.5179  15.0  6.145833  1.141204  1200.0  2.777778  39.33 -121.40
20632  3.1250  15.0  6.023377  1.080519  1047.0  2.719481  39.26 -121.45
20633  2.5495  27.0  5.445026  1.078534  1082.0  2.832461  39.19 -121.53
20634  3.7125  28.0  6.779070  1.148256  1041.0  3.026163  39.27 -121.56
20635  1.5603  25.0  5.045455  1.133333   845.0  2.560606  39.48 -121.09
20636  2.5568  18.0  6.114035  1.315789   356.0  3.122807  39.49 -121.21
20637  1.7000  17.0  5.205543  1.120092  1007.0  2.325635  39.43 -121.22
20638  1.8672  18.0  5.329513  1.171920   741.0  2.123209  39.43 -121.32
20639  2.3886  16.0  5.254717  1.162264  1387.0  2.616981  39.37 -121.24

[20640 rows x 8 columns]

## Renaming column in the data frame

In [122]:
cal_housing.columns = h_data.feature_names

In [123]:
cal_housing

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25
10,3.2031,52.0,5.477612,1.079602,910.0,2.263682,37.85,-122.26
11,3.2705,52.0,4.772480,1.024523,1504.0,2.049046,37.85,-122.26
12,3.0750,52.0,5.322650,1.012821,1098.0,2.346154,37.85,-122.26
13,2.6736,52.0,4.000000,1.097701,345.0,1.982759,37.84,-122.26
14,1.9167,52.0,4.262903,1.009677,1212.0,1.954839,37.85,-122.26
15,2.1250,50.0,4.242424,1.071970,697.0,2.640152,37.85,-122.26
16,2.7750,52.0,5.939577,1.048338,793.0,2.395770,37.85,-122.27
17,2.1202,52.0,4.052805,0.966997,648.0,2.138614,37.85,-122.27
18,1.9911,50.0,5.343675,1.085919,990.0,2.362768,37.84,-122.26
19,2.6033,52.0,5.465455,1.083636,690.0,2.509091,37.84,-122.27
20,1.3578,40.0,4.524096,1.108434,409.0,2.463855,37.85,-122.27
21,1.7135,42.0,4.478142,1.002732,929.0,2.538251,37.85,-122.27
22,1.7250,52.0,5.096234,1.131799,1015.0,2.123431,37.84,-122.27
23,2.1806,52.0,5.193846,1.036923,853.0,2.624615,37.84,-122.27
24,2.6000,52.0,5.270142,1.035545,1006.0,2.383886,37.84,-122.27
25,2.4038,41.0,4.495798,1.033613,317.0,2.663866,37.85,-122.28
26,2.4597,49.0,4.728033,1.020921,607.0,2.539749,37.85,-122.28
27,1.8080,52.0,4.780856,1.060453,1102.0,2.775819,37.85,-122.28
28,1.6424,50.0,4.401691,1.040169,1131.0,2.391121,37.84,-122.28
29,1.6875,52.0,4.703226,1.032258,395.0,2.548387,37.84,-122.28
...,...,...,...,...,...,...,...,...
20610,1.3631,28.0,4.851936,1.102506,1195.0,2.722096,39.10,-121.56
20611,1.2857,27.0,4.359413,1.078240,1163.0,2.843521,39.10,-121.55
20612,1.4934,26.0,5.157303,1.082397,761.0,2.850187,39.08,-121.56
20613,1.4958,31.0,4.500000,0.950521,1167.0,3.039062,39.09,-121.55
20614,2.4695,26.0,4.801688,0.970464,1455.0,3.069620,39.08,-121.54
20615,2.3598,23.0,5.461929,1.096447,724.0,3.675127,39.08,-121.54
20616,2.0469,15.0,4.826667,1.176000,1157.0,3.085333,39.08,-121.53
20617,3.3021,20.0,4.921053,0.956140,308.0,2.701754,39.06,-121.53
20618,2.2500,25.0,5.893805,1.092920,726.0,3.212389,39.06,-121.55
20619,2.7303,22.0,6.388514,1.148649,1023.0,3.456081,39.01,-121.56
20620,4.5625,40.0,4.125000,0.854167,151.0,3.145833,39.05,-121.48
20621,2.3661,37.0,7.923567,1.573248,484.0,3.082803,39.01,-121.47
20622,2.4167,20.0,4.808917,0.936306,457.0,2.910828,39.00,-121.44
20623,2.8235,32.0,5.101322,1.074890,598.0,2.634361,39.03,-121.37
20624,3.0739,16.0,5.835052,1.030928,731.0,2.512027,39.04,-121.41
20625,4.1250,37.0,7.285714,1.214286,29.0,2.071429,39.12,-121.52
20626,2.1667,36.0,6.573099,1.076023,504.0,2.947368,39.18,-121.43
20627,3.0000,5.0,6.067797,1.101695,169.0,2.864407,39.13,-121.32
20628,2.5952,19.0,5.238462,1.079487,1018.0,2.610256,39.10,-121.48
20629,2.0943,28.0,5.519802,1.020902,6912.0,3.801980,39.12,-121.39
20630,3.5673,11.0,5.932584,1.134831,1257.0,2.824719,39.29,-121.32
20631,3.5179,15.0,6.145833,1.141204,1200.0,2.777778,39.33,-121.40
20632,3.1250,15.0,6.023377,1.080519,1047.0,2.719481,39.26,-121.45
20633,2.5495,27.0,5.445026,1.078534,1082.0,2.832461,39.19,-121.53
20634,3.7125,28.0,6.779070,1.148256,1041.0,3.026163,39.27,-121.56
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

# Viewing or Inspecting data

In [124]:
# head(n) is used to return top n rows of the dataset 
# default value of n is equal to 5
cal_housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [125]:
# similarly tail(n) is used to return last n rows of the dataset 
# default value of n is equal to 5
cal_housing.tail(7)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
20633,2.5495,27.0,5.445026,1.078534,1082.0,2.832461,39.19,-121.53
20634,3.7125,28.0,6.779070,1.148256,1041.0,3.026163,39.27,-121.56
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [126]:
# shape return the number of rown and column in form of a tuple
cal_housing.shape

(20640, 8)

In [127]:
# info() returns index, Datatype and memory information 
cal_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
MedInc        20640 non-null float64
HouseAge      20640 non-null float64
AveRooms      20640 non-null float64
AveBedrms     20640 non-null float64
Population    20640 non-null float64
AveOccup      20640 non-null float64
Latitude      20640 non-null float64
Longitude     20640 non-null float64
dtypes: float64(8)
memory usage: 1.3 MB

In [128]:
# Dataframe.Series.value_counts() returns unique values and counts
# where Series is a coulumn of Dataframe as a column in a dataframe is
# a Series DataType

# returns count of unique values in MedInc column
cal_housing.MedInc.value_counts()

15.0001    49
3.1250     49
2.8750     46
2.6250     44
4.1250     44
3.8750     41
3.3750     38
3.0000     38
4.0000     37
3.6250     37
4.3750     35
2.1250     33
2.3750     32
4.6250     31
3.5000     30
2.2500     29
4.8750     29
3.2500     29
1.6250     29
3.7500     29
2.5000     28
4.2500     28
3.6875     26
2.7500     25
4.5000     24
2.5625     21
1.8750     21
5.0000     20
3.0625     19
3.3125     18
           ..
5.7780      1
1.3672      1
1.5735      1
7.0245      1
2.5389      1
6.2113      1
6.0591      1
2.1403      1
1.5161      1
1.9306      1
4.0517      1
2.5599      1
5.6263      1
5.2649      1
4.2775      1
6.7744      1
4.0677      1
2.1216      1
4.1449      1
6.0808      1
3.5082      1
6.7079      1
4.3812      1
6.6833      1
7.3031      1
2.7209      1
5.1230      1
1.2614      1
2.0294      1
4.6429      1
Name: MedInc, Length: 12928, dtype: int64

## Selection

In [129]:
# Selecting rows using their index
cal_housing[2:5]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [130]:
# returns a Series data type or a single selected column

print(type(cal_housing['HouseAge']))
cal_housing['HouseAge'].shape

<class 'pandas.core.series.Series'>

(20640,)

In [131]:
# To select columns, we can pass a list containing the
# names of the desired columns represented as strings

cal_housing[ ['HouseAge', 'Latitude', 'Longitude']].head(10)

   HouseAge  Latitude  Longitude
0      41.0     37.88    -122.23
1      21.0     37.86    -122.22
2      52.0     37.85    -122.24
3      52.0     37.85    -122.25
4      52.0     37.85    -122.25
5      52.0     37.85    -122.25
6      52.0     37.84    -122.25
7      52.0     37.84    -122.25
8      42.0     37.84    -122.26
9      52.0     37.84    -122.25

In [132]:
# To select rows and columns using index

cal_housing.iloc[2:6, 3:5]

   AveBedrms  Population
2   1.073446       496.0
3   1.073059       558.0
4   1.081081       565.0
5   1.103627       413.0

In [133]:
# To select rows and and columns using a mixture of integers and labels,
# the loc attribute can be used in a similar way

cal_housing.loc[cal_housing.index[2:6], ['AveBedrms', 'Population']]

   AveBedrms  Population
2   1.073446       496.0
3   1.073059       558.0
4   1.081081       565.0
5   1.103627       413.0

## Data Cleaning

In [134]:
# rename Columns

cal_housing.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [135]:
cal_housing.head()

        a     b         c         d       e         f      g       h
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [136]:
# One way to strip down dataframe is replace original dataframe with
# one having selected columns or rows

cal_housing = cal_housing[['a', 'b', 'e', 'f', 'g', 'h']]

In [137]:
cal_housing.head()

        a     b       e         f      g       h
0  8.3252  41.0   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0   496.0  2.802260  37.85 -122.24
3  5.6431  52.0   558.0  2.547945  37.85 -122.25
4  3.8462  52.0   565.0  2.181467  37.85 -122.25

In [138]:
# isnull() checks for null values return a boolean array

print(cal_housing.isnull().sum())
cal_housing.isnull() # notnull() is opposite of isnull()

a    0
b    0
e    0
f    0
g    0
h    0
dtype: int64

           a      b      e      f      g      h
0      False  False  False  False  False  False
1      False  False  False  False  False  False
2      False  False  False  False  False  False
3      False  False  False  False  False  False
4      False  False  False  False  False  False
5      False  False  False  False  False  False
6      False  False  False  False  False  False
7      False  False  False  False  False  False
8      False  False  False  False  False  False
9      False  False  False  False  False  False
10     False  False  False  False  False  False
11     False  False  False  False  False  False
12     False  False  False  False  False  False
13     False  False  False  False  False  False
14     False  False  False  False  False  False
15     False  False  False  False  False  False
16     False  False  False  False  False  False
17     False  False  False  False  False  False
18     False  False  False  False  False  False
19     False  False  False  False  False  False
20     False  False  False  False  False  False
21     False  False  False  False  False  False
22     False  False  False  False  False  False
23     False  False  False  False  False  False
24     False  False  False  False  False  False
25     False  False  False  False  False  False
26     False  False  False  False  False  False
27     False  False  False  False  False  False
28     False  False  False  False  False  False
29     False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...
20610  False  False  False  False  False  False
20611  False  False  False  False  False  False
20612  False  False  False  False  False  False
20613  False  False  False  False  False  False
20614  False  False  False  False  False  False
20615  False  False  False  False  False  False
20616  False  False  False  False  False  False
20617  False  False  False  False  False  False
20618  False  False  False  False  False  False
20619  False  False  False  False  False  False
20620  False  False  False  False  False  False
20621  False  False  False  False  False  False
20622  False  False  False  False  False  False
20623  False  False  False  False  False  False
20624  False  False  False  False  False  False
20625  False  False  False  False  False  False
20626  False  False  False  False  False  False
20627  False  False  False  False  False  False
20628  False  False  False  False  False  False
20629  False  False  False  False  False  False
20630  False  False  False  False  False  False
20631  False  False  False  False  False  False
20632  False  False  False  False  False  False
20633  False  False  False  False  False  False
20634  False  False  False  False  False  False
20635  False  False  False  False  False  False
20636  False  False  False  False  False  False
20637  False  False  False  False  False  False
20638  False  False  False  False  False  False
20639  False  False  False  False  False  False

[20640 rows x 6 columns]

## Statistics

In [139]:
# describe() summary statistics of numerical columns
cal_housing.describe()

,a,b,e,f,g,h
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,35682.000000,1243.333333,41.950000,-114.310000

In [140]:
# mean() return the mean of all columns
cal_housing.mean()

a       3.870671
b      28.639486
e    1425.476744
f       3.070655
g      35.631861
h    -119.569704
dtype: float64

In [141]:
# corr() return the correlation between columns in dataframe
cal_housing.corr()

          a         b         e         f         g         h
a  1.000000 -0.119034  0.004834  0.018766 -0.079809 -0.015176
b -0.119034  1.000000 -0.296244  0.013191  0.011173 -0.108197
e  0.004834 -0.296244  1.000000  0.069863 -0.108785  0.099773
f  0.018766  0.013191  0.069863  1.000000  0.002366  0.002476
g -0.079809  0.011173 -0.108785  0.002366  1.000000 -0.924664
h -0.015176 -0.108197  0.099773  0.002476 -0.924664  1.000000

In [142]:
# count() return the number of non null values in each dataframe column
cal_housing.count()

a    20640
b    20640
e    20640
f    20640
g    20640
h    20640
dtype: int64

In [143]:
# max() and min() return the maximum and minimum values from
#each column in a dataframe respectively
print(cal_housing.max())
print(cal_housing.min())

a       15.000100
b       52.000000
e    35682.000000
f     1243.333333
g       41.950000
h     -114.310000
dtype: float64
a      0.499900
b      1.000000
e      3.000000
f      0.692308
g     32.540000
h   -124.350000
dtype: float64

In [144]:
# median() returns the median of each column
cal_housing.median()

a       3.534800
b      29.000000
e    1166.000000
f       2.818116
g      34.260000
h    -118.490000
dtype: float64

In [145]:
# std() return standard deviation of each columns
cal_housing.std()

a       1.899822
b      12.585558
e    1132.462122
f      10.386050
g       2.135952
h       2.003532
dtype: float64